
    *,
*::before,
*::after {
    box-sizing: border-box;
}



:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fw-reg: 100;
    --fw-bold: 900;
   
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    
}
.blog2--title-section{
    text-align:center;
    margin-bottom: 5px;
    margin: top 2.5px;
    padding:5rem;
}
h2{
    font-size:var(--fs-h2);
    font-weight: var(--fw-bold);
    margin:2px;
    color:var(--clr-accent);
    
}


.shortcut--title{
    font-size:var(--fs-h3);
    font-weight:var(--fw-bold);
    color:var(--clr-dark);
    margin-left:4px;
    margin-right: 2px;
    max-width:800px;
    
}
hr{
    color: rgb(185, 189, 189);
    height: 1px;
    margin:2px;
    max-width:900px
}
h3{
    font-size:var(--fs-h3);
    font-weight:var(--fw-reg);
}
article{
    max-width:900px;
    width:100%;
    margin:auto;
}